<!--<style>
.split {height: 50%;
        width: 50%;
        position: fixed;
        z-index: 1;
        overflow-x: hidden;
        padding-top: 20px;}
.left {
  left: 0;
  background-color: Gray;
  color: blue
}
.right {
  right: 0;
  background-color: red;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
h1   {color: tomato;}
body {color: white;
      }
</style> 


<body>
<h1>This is a homepage</h1>
<%= link_to 'About', about_path%>
| <%= link_to 'Alpha Blog', articles_path%>
<br>
<img src="http://clipart-library.com/images/Lidj8AB7T.png", width="20%">
<div class="split left">
  <div class="centered">
    <h2>Left Side</h2>
    <p>This is a long paragraph of text... 
    The quick brown fox jumps over the lazy dog.
    The quickerestest brown fox jump jumps around the laziester dawg.
    The quickerestest brown fox jump jumps around the laziester dawg.
    </p>
  </div>
</div>

<div class="split right">
  <div class="centered">
    <h2>John Doe</h2>
    <p style="color:white;">Some text here too.</p>
  </div>
</div>
</body>
-->

<div class="center jumbotron"> 
  <h1> ALPHA BLOG </h1>
  <%= link_to "Sign up now", signup_path, class: "btn btn-danger btn-primary btn-lg btn-xlarge"%>

</div>
<div class = "center">
</div>
